<div class="card-content-overlay" {{action cheevieDetailsAction on='click'}}></div>
<div class="card-content">
  <h3 class="title">
    {{data.name}}
  </h3>
  <p class="content">
    {{data.description}}
  </p>
</div>

{{yield}}
