<div class="modal-background" {{action goBack on="click"}}></div>
<div class="modal-content">
  {{yield}}
</div>
<button class="icon-button modal-close" aria-label="close" {{action goBack}}>
  {{svg-icon _name="x" _size=24}}
</button>