<div class="background-wrapper">
  {{!-- register-svg-1 --}}
  <svg width="375" height="812" viewBox="0 0 375 812" fill="none" preserveAspectRatio="none">
  <path d="M0 0C74.6668 155.394 152.746 211.796 375 242H0V0Z" transform="translate(0 570)" fill="url(#paint0_linear)"/>
  <path d="M0 0H375V265C173.04 319.624 97.1097 350.545 0 406V0Z" fill="url(#paint1_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(133 228.5 -354.081 206.095 390.54 -89.5475)">
  <stop stop-color="#4838FF"/>
  <stop offset="1" stop-color="#FF5C00"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-315.5 338.5 -312.654 -291.41 510.327 164.705)">
  <stop stop-color="#FF008A"/>
  <stop offset="1" stop-color="#8F38FF"/>
  </linearGradient>
  </defs>
  </svg>
  {{!-- /register-svg-1 --}}

  {{!-- register-svg-2 --}}
  <svg viewBox="0 0 375 812" fill="none" preserveAspectRatio="none">
  <path d="M0 0C74.6668 155.394 152.746 211.796 375 242H0V0Z" transform="translate(375 570) scale(-1 1)" fill="url(#paint0_linear)"/>
  <path d="M0 0H375V265C173.04 319.624 97.1097 350.545 0 406V0Z" transform="translate(375) scale(-1 1)" fill="url(#paint1_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(133 228.5 -354.081 206.095 390.54 -89.5475)">
  <stop stop-color="#4838FF"/>
  <stop offset="1" stop-color="#FF5C00"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-315.5 338.5 -312.654 -291.41 510.327 164.705)">
  <stop stop-color="#FF008A"/>
  <stop offset="1" stop-color="#8F38FF"/>
  </linearGradient>
  </defs>
  </svg>
  {{!-- /register-svg-2 --}}
</div>

{{yield}}