{{#link-to 'profile' user class="is-inline-block"}}
  {{icon-image data=user image=avatar _size=128}}
{{/link-to}}
<div class="cheevies has-text-weight-bold has-text-centered">
  {{user.cheevies.length}}
</div>
<div class="name">
  {{user.name}}
</div>

{{yield}}
