html,
body {
  height: 100%;
}

body > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

main {
  flex-grow: 2;
}

.create-cheevie-link {
  width: 100%;
  border-radius: 0;
  padding: 2rem;
  font-size: 1.5rem;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 1em;
}

.footer {
  padding: 1rem;
}
