html,
body {
  height: 100%;
}

body > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

main {
  flex-grow: 2;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
}

.footer {
  padding: 1rem;
}
