// .ember-view {
form {
    .label {
        @include nigel;
    }
}

.field {
    margin: 0 0 ms(0);
    display: block;

    &.variants {
        position: absolute;
        top: ms(2);
        right: ms(2);
        z-index: 11;

        label {
            display: block;
            margin: ms(0) 0;
        }

        input {
            @include nigel;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: ms(-1, $font-size) ms(0, $font-size);
    display: inline-block;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background: none;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
    color: white;
    width: 100%;

    &::placeholder {
        color: white;
        font-weight: 100;
    }
}

button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    outline: none;

    &[hidden] {
        @include nigel;
    }
}

.status {
    @include size(30px);
    border-radius: 100%;
    transform: scale(0.8);
    transition: transform 0.2s;
    font-weight: 100;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    border: 2px solid white;

    span {
        opacity: 0;
        transition: opacity 0.2s;
    }

    &.low {
        background: linear-gradient(225deg, #4838FF 0%, #0075FF 100%);
    }

    &.normal {
        background: linear-gradient(225deg, #FF5C00 0%, #FFEC87 100%);
    }

    &.high {
        background: linear-gradient(225deg, #FF0000 0%, #CD04FF 100%);
    }
}

input:checked+.status {
    transform: scale(1.2);

    span {
        opacity: 1;
    }
}

// }

.form-errors {
    color: #FF0000;
    font-size: 0.8em;
}

.checkbox-wrapper {
    position: relative;

    .text {
        margin-left: 42px;
    }

    input[type="checkbox"] {
        @include nigel;
    }

    input:checked+.checkbox-value {
        background: linear-gradient(210deg, rgb(255, 236, 135), rgb(255, 0, 0));
    }
}

.checkbox-value {
    position: absolute;
    @include size(24px);
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px #fff;
    background: none;
    transition: background 0.3s;
}

button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #fff;
    border: none rgba(0, 0, 0, 0);
    background-color: #f00;
    text-decoration: none;
    border-radius: 2px;
}

/* Firefox: Get rid of the inner focus border */
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button:active {
    background-color: #CD04FF;
}

.control {
    --bgColour1: transparent;
    --bgColour2: transparent;
    --textColour: #000;

    background: linear-gradient(257.08deg, var(--bgColour1) 5.93%, var(--bgColour2) 93.69%);
    border-radius: 35px;
    z-index: 100;
    position: relative;

    .submit-button {
        @include size(40px);
        padding: 10px;
        line-height: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
        color: var(--textColour);
    }
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.background {
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: 35px;
    pointer-events: none;
    transition: 0.3s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    &:placeholder-shown {
        &~.placeholder {
            opacity: 1;
        }

        &~.background {
            opacity: 0;
            transform: scaleX(0);
        }

        &~.submit-button {
            color: #fff;
        }
    }

    &:focus {
        &~.placeholder {
            opacity: 0;
        }

        &~.background {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    -webkit-transition-delay: 1s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.pretty-button {
    --bgColour1: transparent;
    --bgColour2: transparent;
    --textColour: #fff;

    border-radius: 35px;
    display: block;
    width: 100%;
    background: linear-gradient(257.08deg, var(--bgColour1) 5.93%, var(--bgColour2) 93.69%);
    color: var(--textColour);
    padding: 11px;

    &.google {
        --bgColour1: #DB4437;
        --bgColour2: #F4B400;
    }

    &.facebook {
        --bgColour1: #8b9dc3;
        --bgColour2: #3b5998;
    }

    &.demo {
        --bgColour1: #FF008A;
        --bgColour2: #8F38FF;
    }
}
