# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
.DS_Store

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# dev
.env
.firebase/
cordova-app/node_modules
cordova-app/package.json
cordova-app/package-lock.json
cordova-app/platforms/*
!cordova-app/platforms/.gitkeep
cordova-app/plugins/*
!cordova-app/plugins/.gitkeep
cordova-app/www/*
!cordova-app/www/.gitkeep

sign-app.sh