<div
    class="modal-content"
    {{did-insert this.didInsert}}
    {{draggable panDirection=this.panDirection handlePanStart=this.handlePanStart handlePanMove=this.handlePanMove onPanEnvComplete=this.onPanEnvComplete}}>
    {{yield}}
</div>