.mode-toggle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.image,
.image-drop-area{
  max-height: 300px;
  text-align: center;

  img {
    max-height: 300px;
    display: inline-block;
  }
}

.image-drop-area > div {
  display: inline-block;
}
