.image-drop-area {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.delete {
  position: absolute;
  top: 20px;
  right: 20px;
}