& {}

.center-wrapper {
    padding: 0;
    padding-bottom: ms(2);
    height: calc(100vh - 50px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 0;

    &.is-me {
        height: 100vh;
    }
}

.user-image-wrapper {
    grid-column: all;
    overflow: hidden;
    margin: 0 0 ms(2, $font-size);
    position: relative;

    .icon-image {
        padding: 0 0 3px;
    }

    &.busy {
        &:after {
            @include loader;
            content: '';
            position: absolute;
            z-index: 10;
            opacity: 0.4;
            top: 0;
            left: 0;
        }
    }
}

.experience {
    position: absolute;
    left: 1.5rem;
    bottom: 10px;
    z-index: 10;
    font-size: 40px;
    font-weight: 100;
}

.user-image {
    &.icon-image {
        border-radius: 0;
        height: 40vh;

        picture,
        img {
            border-radius: 0;
            width: 100%;
            object-fit: cover;
        }
    }
}

.name {
    margin: 0 0 ms(2, $font-size);
    text-align: center;

    .psevdo-title {
        font: inherit;
        text-align: center;
        padding: 0;
        border: 0;

        &:focus {
            border-bottom: 1px solid;
        }
    }
}

.give-cheevie {
    background: linear-gradient(208.67deg, #FF008A 8.29%, #8F38FF 92.27%);
    width: 34px;
    height: 34px;
    padding: 4px;
    border-radius: 100%;
}

footer {
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05070E;
    grid-column: all;
}

.input-click-handler {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

.give-cheevie-modal .modal-content {
    padding: ms(1) 0;
}