.center-wrapper {
    height: 100vh;
    overflow: auto;
}

.title {
    margin-bottom: ms(0);
}

.buttons-wrapper {
    margin-top: ms(2);

    button {
        margin: ms(0);

        &:first-child {
            margin-left: 0;
        }
    }
}

.feedback {
    margin: ms(1);
    text-align: center;
}

.version {
    text-align: right;
    font-weight: 100;
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: -20px;
}

section {
    margin: 0 0 ms(2);
}

.field.variants {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .description {
        flex-basis: 100%;
        font-size: 0.85rem;
        font-weight: 100;
    }

    .status {
        background: linear-gradient(210deg, var(--backgroundColour0), var(--backgroundColour1));

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &.anarchy {
            --backgroundColour0: #12C2E9;
            --backgroundColour1: #00F260;
        }

        &.democracy {
            --backgroundColour0: #4838FF;
            --backgroundColour1: #0075FF;
        }

        &.totalitarianism {
            --backgroundColour0: #FF0000;
            --backgroundColour1: #CD04FF;
        }
    }
}
