.cheevie-in-list {
    position: relative;
    transition: transform 0.3s;
    @include size(64px);

    @include sm() {
      @include size(128px);
    };

    .icon-image {
        padding: 3px;
    }

    &.cards-view {
        display: inline-block;
        margin-left: -50px;
        @include size(128px);
    }
}
