& {
    position: relative;
}

#file-input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.drop-area {
    height: 30vh;

    [class*='__svg-icon'] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        white-space: nowrap;

        svg {
            stroke-width: 1px;
        }
    }
}

button.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include size(auto);
}
