& {
    position: relative;
}

#file-input {
    position: absolute;
    opacity: 0;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: 10;
}

.drop-area {
    height: 30vh;

    svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke-width: 1px;
    pointer-events: none;
    }
}

button.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include size(auto);
}
