.cheevies-list,
.users-list {
  position: relative;
  z-index: 1;

  canvas {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
  }
}

.cheevies-list{
  // background-image: url('../images/609_2.png');
}

.users-list {
  // background-image: url('../images/511_2.png');
}
