& {
    overflow: hidden;
}

.sections-wrapper {
    width: 200vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: transform 0.3s;
    height: calc(100vh - 50px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &.is-dragged {
        transition: none;
    }

    &.cheevies {
        transform: translate(-50%, 0);
    }

    background-color: #4838ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%234838ff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%235032ef' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23542cdf' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%235726d0' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%235821c1' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23581cb2' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%235617a4' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23541396' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23510f89' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%234d0b7c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2349096f' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23440763' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233f0657' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2339054c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23330541' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232d0437' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2327032d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

section {
    padding: 50px 0 ms(0);
    width: 100vw;
    box-sizing: border-box;
}

.users-list {
    a:nth-child(2n - 1) {
        .cheevies-counter {
            left: auto;
            right: 0;
        }
    }
}

.empty-placeholder {
    align-self: flex-start;
    margin-top: 40vh;
}

.cheevies-list {
    .icon-image {
        &.is-mine {
            position: relative;
            overflow: visible;

            &:after {
                content: '';
                transform: rotate(210deg) scale(1);
                position: absolute;
                @include size(100%);
                left: 0;
                top: 0;
                border-radius: 100%;
                box-shadow: -5px 0 20px var(--backgroundColour0),
                    5px 0 20px var(--backgroundColour1);

                animation-name: glowing;
                animation-iteration-count: infinite;
                animation-duration: 5s;
                animation-fill-mode: both;
                animation-timing-function: ease;
            }
        }
    }
}

.guide-invitation-button-wrapper {
    --backgroundColour0: #0075FF;
    --backgroundColour1: #4838FF;
    position: absolute;
    z-index: 101;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(210deg, var(--backgroundColour0), var(--backgroundColour1));
    border-radius: 10px;
    width: 250px;

    a {
        display: block;
        padding: ms(-1) ms(1) ms(-1) ms(0);
        text-decoration: none;
    }

    button {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

footer {
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05070E;

    button {
        margin: 0 ms(0);

        &.active {
            svg {
                stroke-width: 3px;
            }
        }
    }
}

@keyframes glowing {
    from {
        transform: rotate(210deg) scale(0.95);
    }

    50% {
        transform: rotate(210deg) scale(1);
    }

    to {
        transform: rotate(210deg) scale(0.95);
    }
}
