& {
  background-color: #fff;
  a {
    color: #FF008A;
  }
}

.logo-wrapper {
  text-align: center;
}

.center-wrapper {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  z-index: 1;
}

.control {
    --bgColour1: #8F38FF;
    --bgColour2: #FF008A;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    --textColour: #FF008A;
    display: block;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
    color: var(--textColour);
    text-align: center;
    border: none;
}

.is-authenticated {
    .control {
      --bgColour1: #0075FF;
      --bgColour2: #4838FF;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"], a {
      --textColour: #0f00b6;
    }
}

.user-image-wrapper {
  position: relative;
  padding: 0 0 ms(1);

  .icon-image {
    margin: auto;
    background: linear-gradient(257.08deg, #0075FF 5.93%, #4838FF 93.69%);

    @include size(128px);

    @include sm() {
        @include size(256px);
    };
  }

  .icon-button {
    position: absolute;
    top: 10px;
    left: calc(30% - 15px);
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 100%;
    color: #4838FF;
    border: 2px solid;
    background-color: white;
  }
}

.register-link-wrapper,
.reset-password {
  color: white;

  a {
    color: inherit;
  }
}

.reset-password {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 ms(1);
}

.field{
    position: relative;
}

.submit-button {
    --textColour: #FF008A;
}

.group-select-section {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    .submit-button {
        --textColour: #0075FF;
    }
}