& {
  @include center-wrapper;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 200;
}

.modal-background {
  background: rgba(5, 7, 14, 0.7);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  grid-column: all;
}

.modal-content {
  background: linear-gradient(191.73deg, #0075FF 1.99%, #4838FF 97.39%);
  @include center-wrapper;
  border-radius: 10px;
  margin-top: 55px;
  margin-bottom: 55px;
  position: relative;
}

.images-drop-area,
figure.image {
  grid-column: all;
}

figure.image {
  margin: 0 0 ms(2);
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.icon-button {
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.modal-close {
  right: 0;
  left: auto;
}

.cheevie-delete {
  color: #f00;
  right: 0;
  left: auto;
}

.title,
.description {
  margin: 0 0 ms(1, 16px);
}