& {
  @include center-wrapper;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  z-index: 200;
}

figure {
    min-height: 30vh;
}

.image-placeholder {
    height: 30vh;
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        stroke-width: 1px;
        pointer-events: none;
      }
}

.modal-background {
  background: rgba(5, 7, 14, 0.7);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  grid-column: all;
}

.modal-content {
  background: linear-gradient(191.73deg, #0075FF 1.99%, #4838FF 97.39%);
  @include center-wrapper;
  border-radius: 10px;
  margin-top: 55px;
  margin-bottom: 55px;
  position: relative;
}

&.is-busy .modal-content{
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        @include size(100%);

        animation: linear backgrounds 5s infinite;
        background-image: linear-gradient(111deg, #8a2387 16.67%, #e94057 16.67%, #e94057 33.33%, #f27121 33.33%, #f27121 50%, #8a2387 50%, #8a2387 66.67%, #e94057 66.67%, #e94057 83.33%, #f27121 83.33%, #f27121 100%);
        background-size: 128.54px 334.85px;
        opacity: 0.4;
        z-index: 10;
    }
}

.images-drop-area,
figure.image {
  grid-column: all;
}

figure.image {
  margin: 0 0 ms(2);
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.icon-button {
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.modal-close {
  right: 0;
  left: auto;
}

.cheevie-delete {
  color: #f00;
  right: 0;
  left: auto;
}

.title,
.description {
  margin: 0 0 ms(1, 16px);
}

.control {
  text-align: center;

  .button {
    width: 34px;
    height: 34px;
    border: none;
    padding: 4px;
    color: white;
    border-radius: 100%;
    background: linear-gradient(208.67deg, #FF008A 8.29%, #8F38FF 92.27%);
  }
}

&.new-cheevies {
    .title {
        text-align: center;
    }

    .modal-content {
        background: transparent;
        justify-content: center;
    }
}

.new-cheevies-wrapper {
    margin: 20vh 0;
    justify-self: center;
}