.breadcrumb {
  padding: 0.5rem 1.5rem;
}

.name {
  margin: 1.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-drop-area {
  position: relative;
}

.cheevies {
  margin: 3rem 0;
}

.experience {
  font-size: 3rem;
  color: #ff3860;
  margin: -50px 0 0 -100px;
  position: relative;
}

.psevdo-title {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-align: center;
  max-width: 100%;
}

.cheevie-wrapper {
  position: relative;

  &:hover {
    .item-hint {
      display: block;
    }
  }

  &:first-child {
    .item-hint{
      left: 0;
      transform: translateX(0);
    }
  }

  &:last-child {
    .item-hint {
      right: 0;
      left: auto;
      transform: translateX(0);
    }
  }
}

.cheevie-wrapper {
  .delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
