.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-drop-area {
  position: relative;
}

.delete {
  position: absolute;
  top: 20px;
  right: 20px;
}