& {
}

.center-wrapper {
  padding-bottom: ms(2);
  box-sizing: border-box;
  @include center-wrapper;
  height: calc(100vh - 50px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.is-me {
    height: 100vh;
  }
}

.user-image-wrapper {
  grid-column: all;
  overflow: hidden;
  margin: 0 0 ms(2, $font-size);
  position: relative;

  .icon-image {
      padding: 0 0 3px;
  }

  &.busy {
        &:after {
            @include loader;
            content: '';
            position: absolute;
            z-index: 10;
            opacity: 0.4;
            top: 0; left: 0;
        }
  }
}

.experience {
  position: absolute;
  left: 1.5rem;
  bottom: 10px;
  z-index: 10;
  font-size: 40px;
  font-weight: 100;
}

.user-image {
  &.icon-image {
    border-radius: 0;
    height: 40vh;

    picture, img {
      border-radius: 0;
      width: 100%;
      object-fit: cover;
    }
  }
}

.name {
  margin: 0 0 ms(2, $font-size);
  text-align: center;

  .psevdo-title {
    font: inherit;
    text-align: center;
    padding: 0;
    border: 0;

    &:focus {
      border-bottom: 1px solid;
    }
  }
}

.card {
  display: none;
  background: linear-gradient(191.73deg, #0075FF 1.99%, #4838FF 97.39%);
  border-radius: 10px;
  z-index: 10;
  width: 300px;

  .card-content {
    @include center-wrapper;
    padding: ms(1) 0;
    position: relative;
  }

  .title {
    font-size: 24px;
  }

  .delete {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
  }

  .share {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.card-content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.give-cheevie {
  background: linear-gradient(208.67deg, #FF008A 8.29%, #8F38FF 92.27%);
  width: 34px;
  height: 34px;
  padding: 4px;
  border-radius: 100%;
}

footer {
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05070E;
  grid-column: all;
}

.modal-content {
  padding: ms(1) 0;
}