& {
  background-color: #fff;
}

.center-wrapper {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
}

.logo-wrapper {
  margin-bottom: 20vh;
  text-align: center;
}

.control {
  background: linear-gradient(257.08deg, #8F38FF 5.93%, #FF008A 93.69%);
  border-radius: 35px;
  z-index: 1;
  position: relative;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.background {
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 35px;
  pointer-events: none;
  transition: 0.3s;
}


input {
  display: block;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
  color: #FF008A !important;
  text-align: center;
  border: none !important;

  &:placeholder-shown {
    & ~ .placeholder {
      opacity: 1;
    }

    & ~ .background {
      opacity: 0;
      transform: scaleX(0);
    }
  }

  &:focus {
    & ~ .placeholder {
      opacity: 0;
    }

    & ~ .background {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  -webkit-transition-delay: 1s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.user-wrapper {
  position: relative;
  text-align: center;
  padding: 0 0 ms(0);
  color: #FF008A;

  .user-name {
    font-size: 2rem;
  }

  .icon-button {
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
  }
}

.login-link-wrapper {
  color: #FF008A;

  a {
    color: inherit;
  }
}