.center-wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
    @include center-wrapper;
    grid-template-rows: min-content 1fr 50px;
    min-height: 100vh;
    box-sizing: border-box;
}

.title {
    margin-bottom: ms(0);
}

.buttons-wrapper{
    button {
        margin: ms(0);
    }
}

.feedback {
    margin: ms(1);
    text-align: center;
}