.drawer {
  background: url('/images/drawer_bottom_bg.svg') no-repeat left bottom,
    linear-gradient(180deg, #1D2349 0%, #131731 100%);
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}

.avatar {
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
}

.info {
  padding-top: 28px;
}

.user-name {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.cheevies-list {
  padding: 0 ms(0);
}

.drawer-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  padding: 0 ms(0);
  color: #fff;
  display: flex;
  align-items: center;

  button {
    margin-left: auto;
  }
}