& {
    position: relative;
    line-height: 1;
}

.title {
    position: absolute;
    font-size: 0.65rem;
    margin: 0;
    line-height: 1;
}

// =============================================================================
// =============================================================================
// =============================================================================

&.top {
    .title {
        bottom: calc(100% + 0px);
    }
}

&.v-center {
    .title {
        top: 50%;
        transform: translateY(-50%);
    }
}

&.bottom {
    .title {
        top: calc(100% + 0px);
    }
}

// =============================================================================

&.left {
    .title {
        right: calc(100% + 5px);
    }
}

&.h-center {
    .title {
        left: 50%;
        transform: translateX(-50%);
    }
}

&.right {
    .title {
        left: calc(100% + 5px);
    }
}
