& {
  position: relative;
  justify-content: center;
}

.cheevies {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5;
  border-radius: 50%;
  background-color: #f00;
  top: 20px;
  left: calc(50% + 20px);
}

.name {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}
