& {
  position: relative;
  transition: transform 0.3s;
}

&.is-me {
  transform: scale(1.2) !important;
}

.cheevies-counter {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  background: linear-gradient(225deg, #FF0000 0%, #7D0000 100%);
}

.icon-image {
  padding: 2px;
}