& {
  position: relative;
  transition: transform 0.3s;
  @include size(128px);

  @include sm() {
    @include size(256px);
  };
}

&.is-me {
  transform: scale(1.2);
}

&.is-dragged {
  transition: none;
}

.cheevies-counter {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  background: linear-gradient(225deg, #FF0000 0%, #7D0000 100%);
}