.modal-content {
    .delete {
        position: absolute;
        right: 10px;
        left: auto;
        top: 10px;
        color: red;
    }

    .share {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}