{{#modal-wrapper goBack=(action 'goBack') class="new-cheevies"}}

<h1 class="title">
  {{t 'index.new-cheevies.title'}}
</h1>

<div class="new-cheevies-wrapper">
  {{#each model as |cheevie|}}
    {{cheevie-in-list cheevie=cheevie class="cards-view"}}
  {{/each}}
</div>

{{/modal-wrapper}}

{{props-container}}