<ModalWrapper @goBack={{action "goBack"}} @class="new-cheevies">

<h1 class="title">
  {{t 'index.new-cheevies.title'}}
</h1>

<div class="new-cheevies-wrapper">
  {{#each model as |cheevie|}}
    <CheevieInList @cheevie={{cheevie}} @class="cards-view" />
  {{/each}}
</div>

</ModalWrapper>

<PropsContainer />