<SettingsWrapper>
    <SiteDrawer as |drawer|>
        <div class="site-drawer-component {{if drawer.opened 'opened'}}">
            <drawer.overlay />
            <drawer.aside />
        </div>

        <SiteHeader
            @drawer={{drawer}}
            @currentRouteName={{this.currentRouteName}} />

        <div class="content-wrapper">
            {{outlet}}
        </div>
    </SiteDrawer>
</SettingsWrapper>