<SettingsWrapper>
    <SiteDrawer as |drawer|>
         <div class="site-drawer-component {{if drawer.opened 'opened'}}">
            <drawer.overlay />
            <drawer.aside />
        </div>

        <SiteHeader @drawer={{drawer}} />

        <div class="content-wrapper">
            {{outlet}}
        </div>
    </SiteDrawer>
</SettingsWrapper>