<section class="users-list grid-wrapper-2">
  {{user-in-list user=model.me class="is-me"}}

  {{#each users as |user|}}
    {{user-in-list user=user}}
  {{/each}}
</section>

<section class="cheevies-list grid-wrapper-3">
  {{#each cheevies as |cheevie|}}
    {{#link-to 'index.cheevie-details' cheevie}}
      {{cheevie-in-list cheevie=cheevie}}
    {{/link-to}}
  {{/each}}
</section>

{{outlet}}
