<section class="section">
  {{link-to (t 'index.create-cheevie.linkText') 'index.create-cheevie'}}
  {{!-- {{link-to (t 'index.create-badge.linkText') 'index.create-badge'}} --}}


  {{outlet}}
</section>